/* === ESTILO CLARO (por defecto) === */
.btn1 {
  background: #b19fff;
  color: #1b1733;
  padding: 0.9rem 2rem;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
  border: none;
}
.btn1:hover {
  background: #d1c9ff;
  color: #1b1733;
}


.features {
  background-color: #242041;
  padding: 5rem 0;
}

.feature-card {
  background: #2c2755;
  color: #e0e0ff;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 2rem;
  transition: all 0.3s ease;
}
.feature-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 30px rgba(108, 99, 255, 0.25);
}
.feature-card h4 { color: #faf9f9; }
.feature-card p { color: #f0ebebd5; }

.section-tittle { color: #6C63FF; }

.form-floating>.form-control,
.form-floating>.form-select {
  background-color: rgba(40,40,60,0.85) !important;
  color: #f1f1f1;
  border: 1px solid rgba(177, 159, 255, 0.4);
}
.form-floating>label { 
  color: #ccc; 
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #242041 !important;
  color: #f1f1f1;
}


footer {
  margin-top: auto;
  text-align: center;
  padding: 1rem 0;
  background: #29234a;
  color: #d8d8ff;
}

header{
  background: #29234a;
  color: #d8d8ff;
}